@page
@model SweetDebt.Pages.Account.LoginModel
@{
    ViewData["Title"] = "SweetDebt - Login";
}

<!DOCTYPE html>
<html>
<body class="body">
    <div class="container">
        <div class="row">
            <form asp-page-handler="Login" method="post" class="col-md-4 mx-auto">
                <div class="text-center mt-5" style="font-size: 20px;">
                    <h1>Login</h1>
                </div>
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="accordion">
                    <div class="form-group">
                        <label asp-for="LogginUser.Username"></label>
                        <input asp-for="LogginUser.Username" class="form-control" autocomplete="off" />
                        <span asp-validation-for="LogginUser.Username" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="LogginUser.PasswordHash">Password</label>
                        <input asp-for="LogginUser.PasswordHash" class="form-control" autocomplete="off" type="password"/>
                        @* <span asp-validation-for="LogginUser.PasswordHash" class="text-danger"></span> *@
                    </div>
                    <div class="form-group text-center mt-2">
                        <button type="submit" class="btn btn-outline-info">Log in</button>
                    </div>
                </div>
            </form>
            <form asp-page-handler="CreateTestUser" method="post" class="text-center">
                <button type="submit" class="btn btn-outline-info">Create test/test</button>
            </form>
        </div>
    </div>

    <partial name="_ValidationScriptsPartial" />
</body>
</html>
