@page
@model SweetDebt.Pages.IndexModel
@{
    string totalAmount = string.Format($"{0:C2}", Model.TotalAmount);
    string test = "Test";
    ViewData["Title"] = "SweetDebt";
}
@using SweetDebt.Models;


<div class="text-center">
    <p class="">Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <h2>Long HTML Table Example</h2>
    <p>Total amount: @Model.TotalAmount</p>
    <a asp-page-handler="AddTransactionOpen" class="btn btn-primary">Add New Transaction</a>
    <table>
        <thead>
            <tr>
                <th>Date</th>
                <th>Description</th>
                <th>Amount</th>
            </tr>
        </thead>
        <tbody>            
                @{if(Model.ListOfTransactions is not null)
                {
                    foreach (var transaction in Model.ListOfTransactions){
                <tr>
                    <td>@transaction.Date</td>
                    <td>@transaction.Description</td>
                    <td>@Model._service.GetAmountType(transaction)</td>
                </tr>
                    }}}
        </tbody>
    </table>
</div>
@if (Model.AddTransactionVisible)
{
    <partial name="_AddTransaction" model="Model.NewTransaction"/>
}
