@page
@model SweetDebt.Pages.IndexModel
@{
    var totalAmount = Model.TotalAmount;
    string formatedAmount = string.Format("{0:#,0.00} CZK", totalAmount);
    ViewData["Title"] = "SweetDebt";
}
@using SweetDebt.Models;
<div class="row justify-content-center">
        <div class="col-auto">
        <a asp-page-handler="AddTransactionOpen" class="btn btn-primary w-200">Add New Transaction</a>
        </div>
        <div class="col-auto">
            <form method="post" asp-page-handler="RemoveAllTransactions" class="w-200">
                <button type="submit" class="btn btn-danger w-200">Delete All Records</button>
            </form>
        </div>
    </div>
    <table>
        <thead>
            <tr>
                <th>Date</th>
                <th>Description</th>
                <th>Amount</th>
            </tr>
        </thead>
        <tbody>
            @{
                if (Model.ListOfTransactions is not null)
                {
                    foreach (var transaction in Model.ListOfTransactions)
                    {
                        <tr>
                            <td>@transaction.Date</td>
                            <td>@transaction.Description</td>
                            <td>@string.Format("{0:#,0.00} CZK", Convert.ToDecimal(Model._service.GetAmountType(transaction)))</td>
                        </tr>
                    }
                }
            }
        </tbody>
    </table>
<h2 >Total amount: @formatedAmount</h2>
@if (Model.AddTransactionVisible)
{
    <partial name="_AddTransaction" model="Model.NewTransaction" />
}
